.page-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
}

.row {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.col-50 {
    width: 50%;
}

Link, a {
    text-decoration: none !important;
    color: inherit;
}

.header {
    align-items: center;
    justify-content: space-between;
    background-color: #1f1f1f;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    color: orange
}

.header p {
    font-size: 15px;
}

/* Components */
.btn {
    padding: 5px 20px;
    font-size: 15px;
    border: none;
    border-radius: 8px;
    background-color: orange;
    margin-right: 10px;
}

.danger {
    background-color: red !important;
    color: white;
}

.number-sq {
    padding: 20px;
    border: 1px solid black;
    width: 300px !important;
}

.lis-sq {
    padding: 20px;
    border: 1px solid black;
    width: 300px !important;
    margin-bottom: 10px;
}

input {
    margin-right: 10px;
    height: 40px;
}

@media (width < 768px) {
    .col-50 {
        width: 100%;
    }

    .page-container {
        padding: 0 5%;
    }

    #tagline {
        display: none;
    }
}